{% extends "base.html" %}

{% block title %}
    메인페이지
{% endblock %}

{% load static %}

{% block css %}
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main-page.css' %}">
{% endblock %}

{% block content %}
    
    <form class="form-area" method="GET" action="/main_page/">
        {% csrf_token %}
        <div class="wrapper">

            <!-- HEADER -->
            <header>
                <div class="netflixLogo">
                    <a id="logo" href="#home"><img
                            src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true"
                            alt="Logo Image"></a>
                </div>
                <nav class="main-nav">
                    <a href="#home">Home</a>
                    <a href="#tvShows">TV Shows</a>
                    <a href="#movies">Movies</a>
                    <a href="#originals">Originals</a>
                    <a href="#">Recently Added</a>
                    <a target="_blank" href="https://codepen.io/cb2307/full/NzaOrm">Portfolio</a>
                </nav>
                <nav class="sub-nav">
                    <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                    <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
                    <a href="#">Account</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </nav>
            </header>
            <!-- END OF HEADER -->
            <section class="main-movie">
                <div class="main-movie-post">
                    <iframe id='clip' src='{{ main_movie_clip.url }}' frameborder='no' scrolling='no' marginwidth='0'
                            marginheight='0' WIDTH='2000' HEIGHT='700' allow='autoplay' allowfullscreen></iframe>
                    <span class="main-movie-title">{{ main_movie_clip.title }}</span>
                    <span class="main-movie-intro">{{ main_movie_clip.plot }}</span>
                    </span>
                </div>
            </section>
            <!-- MAIN CONTAINER -->
            <section class="main-container">
                <div class="location" id="home">
                    <h1 id="Popular on Netflix">Popular on Netflix</h1>
                    <div class="slide-show">
                        <ul class="slides-1">
                            <!-- 반복할 곳 -->
                            {% for i in movie_list %}
                                <li>
                                    <a data-toggle="modal" class="btn-open-popup">
                                        {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                            <img src="{% static link %}">
                                        {% endwith %}
                                    </a>

                                </li>
                            {% endfor %}
                            <!--여기까지 반복-->

                        </ul>
                        <p class="controller">
                            <span class="prev-1"><img src="{% static 'images/prev.png' %}"/></span>
                            <span class="next-1"><img src="{% static 'images/next.png' %}"></span>
                        </p>
                        <!-- Modal -->
                        <!-- 반복할 곳 -->
                        {% for i in movie_list %}
                            <div class="modal">
                                <div class="modal_body">
                                    <div class="modal-movie-post">
                                        {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                            <img class="modal-img" src="{% static link %}"/>
                                        {% endwith %}
                                    </div>
                                    <span class="main-movie-title">{{ i.title }}</span>
                                    <span class="main-movie-intro">
                            <button type="button" class="modal-button heart-bnt"><img class="modal-heart"
                                                                                      src="{% static 'images/heart.png' %}"></button>
                            <button type="button" class="modal-button like-bnt"><img class="modal-like"
                                                                                     src="{% static 'images/like.png' %}"></button>
                            <button type="button" class="modal-button unlike-bnt"><img class="modal-unlike"
                                                                                       src="{% static 'images/unlike.png' %}"></button>
                        </span>
                                    <div class="modal-movie-intro">
                                        <strong>
                                            {{ i.plot }}
                                        </strong>

                                    </div>

                                    <div class="modal-movie-cast">
                                        <ul>
                                            <li>
                                                <strong>{{ i.cast }}</strong>
                                            </li>
                                            <li>
                                                <strong>{{ i.genre }}</strong>
                                            </li>
                                            <li>
                                                <strong>{{ i.maturity_rating }}</strong>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="recommend-contents">
                                        <p><strong>비슷한 콘텐츠</strong></p>
                                        <ul>
                                            {% for i in movie_list %}
                                                <li>
                                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                                        <img class="recommend-img" src="{% static link %}">
                                                    {% endwith %}
                                                    <strong><p>{{ i.title }}</p></strong>

                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!--여기까지 반복-->
                    </div>
                </div>

                <h1 id="myList">Trending Now</h1>
                <div class="slide-show">
                    <ul class="slides-2">
                        {% for i in similar_recommend_code %}
                            <li>
                                <a data-toggle="modal" class="btn-open-popup">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img src="{% static link %}">
                                    {% endwith %}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <p class="controller">
                        <span class="prev-2"><img src="{% static 'images/prev.png' %}"/></span>
                        <span class="next-2"><img src="{% static 'images/next.png' %}"></span>
                    </p>
                    {% for i in similar_recommend_code %}
                        <div class="modal">
                            <div class="modal_body">
                                <div class="modal-movie-post">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img class="modal-img" src="{% static link %}"/>
                                    {% endwith %}
                                </div>
                                <span class="main-movie-title">{{ i.title }}</span>
                                <span class="main-movie-intro">
                            <button type="button" class="modal-button heart-bnt"><img class="modal-heart"
                                                                                      src="{% static 'images/heart.png' %}"></button>
                            <button type="button" class="modal-button like-bnt"><img class="modal-like"
                                                                                     src="{% static 'images/like.png' %}"></button>
                            <button type="button" class="modal-button unlike-bnt"><img class="modal-unlike"
                                                                                       src="{% static 'images/unlike.png' %}"></button>
                        </span>
                                <div class="modal-movie-intro">
                                    <strong>
                                        {{ i.plot }}
                                    </strong>

                                </div>
                                <div class="modal-movie-cast">
                                    <ul>
                                        <li>
                                            <strong>출연진: {{ i.cast }}</strong>
                                        </li>
                                        <li>
                                            <strong>장르 : {{ i.genre }}</strong>
                                        </li>
                                        <li>
                                            <strong>등급 : {{ i.maturity_rating }}</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="recommend-contents">
                                    <p><strong>비슷한 콘텐츠</strong></p>
                                    <ul>
                                        {% for i in similar_recommend_code %}
                                            <li>
                                                {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                                    <img class="recommend-img" src="{% static link %}">
                                                {% endwith %}
                                                <strong><p>{{ i.title }}</p></strong>

                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!--여기까지 반복-->
                </div>

                <h1 id="tvShows">TV Shows</h1>
                <div class="slide-show">
                    <ul class="slides-3">
                        {% for i in similar_genre_code %}
                            <li>
                                <a data-toggle="modal" class="btn-open-popup">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img class="modal-img" src="{% static link %}"/>
                                    {% endwith %}
                                </a>
                            </li>
                        {% endfor %}


                    </ul>
                    <p class="controller">
                        <span class="prev-3"><img src="{% static 'images/prev.png' %}"/></span>
                        <span class="next-3"><img src="{% static 'images/next.png' %}"></span>
                    </p>
                    {% for i in similar_genre_code %}
                        <div class="modal">
                            <div class="modal_body">
                                <div class="modal-movie-post">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img class="modal-img" src="{% static link %}"/>
                                    {% endwith %}
                                </div>
                                <span class="main-movie-title">{{ i.title }}</span>
                                <span class="main-movie-intro">
                            <button type="button" class="modal-button heart-bnt"><img class="modal-heart"
                                                                                      src="{% static 'images/heart.png' %}"></button>
                            <button type="button" class="modal-button like-bnt"><img class="modal-like"
                                                                                     src="{% static 'images/like.png' %}"></button>
                            <button type="button" class="modal-button unlike-bnt"><img class="modal-unlike"
                                                                                       src="{% static 'images/unlike.png' %}"></button>
                        </span>
                                <div class="modal-movie-intro">
                                    <strong>
                                        {{ i.plot }}
                                    </strong>

                                </div>

                                <div class="modal-movie-cast">
                                    <ul>
                                        <li>
                                            <strong>{{ i.cast }}</strong>
                                        </li>
                                        <li>
                                            <strong>{{ i.genre }}</strong>
                                        </li>
                                        <li>
                                            <strong>{{ i.maturity_rating }}</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="recommend-contents">
                                    <p><strong>비슷한 콘텐츠</strong></p>
                                    <ul>
                                        {% for i in similar_genre_code %}
                                            <li>
                                                {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                                    <img class="recommend-img" src="{% static link %}">
                                                {% endwith %}
                                                <strong><p>{{ i.title }}</p></strong>

                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <h1 id="movies">Blockbuster Action & Adventure</h1>
                <div class="slide-show">
                    <ul class="slides-4">
                        {% for i in same_director_list %}
                            <li>
                                <a data-toggle="modal" class="btn-open-popup">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img src="{% static link %}">
                                    {% endwith %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="controller">
                        <span class="prev-4"><img src="{% static 'images/prev.png' %}"/></span>
                        <span class="next-4"><img src="{% static 'images/next.png' %}"></span>
                    </p>
                    {% for i in same_director_list %}
                        <div class="modal">
                            <div class="modal_body">
                                <div class="modal-movie-post">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img class="modal-img" src="{% static link %}"/>
                                    {% endwith %}

                                </div>
                                <span class="main-movie-title">{{ i.title }}</span>
                                <span class="main-movie-intro">
                            <button type="button" class="modal-button heart-bnt"><img class="modal-heart"
                                                                                      src="/static/images/heart.png"></button>
                            <button type="button" class="modal-button like-bnt"><img class="modal-like"
                                                                                     src="/static/images/like.png"></button>
                            <button type="button" class="modal-button unlike-bnt"><img class="modal-unlike"
                                                                                       src="/static/images/unlike.png"></button>
                        </span>
                                <div class="modal-movie-intro">
                                    <strong>
                                        {{ i.plot }}
                                    </strong>

                                </div>
                                <div class="modal-movie-cast">
                                    <ul>
                                        <li>
                                            <strong>출연진: {{ i.cast }}</strong>
                                        </li>
                                        <li>
                                            <strong>장르 : {{ i.genre }}</strong>
                                        </li>
                                        <li>
                                            <strong>등급 : {{ i.maturity_rating }}</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="recommend-contents">
                                    <p><strong>비슷한 콘텐츠</strong></p>
                                    <ul>
                                        {% for i in same_director_list %}
                                            <li>
                                                {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                                    <img class="recommend-img" src="{% static link %}">
                                                {% endwith %}
                                                <strong><p>{{ i.title }}</p></strong>

                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h1 id="originals">Netflix Originals</h1>
                <div class="slide-show">
                    <ul class="slides">
                        {% for i in on_release_list %}
                            <li>
                                <a data-toggle="modal" class="btn-open-popup">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img src="{% static link %}">
                                    {% endwith %}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <p class="controller">
                        <span class="prev"><img src="{% static 'images/prev.png' %}"/></span>
                        <span class="next"><img src="{% static 'images/next.png' %}"></span>
                    </p>
                    {% for i in on_release_list %}
                        <div class="modal">
                            <div class="modal_body">
                                <div class="modal-movie-post">
                                    {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                        <img class="modal-img" src="{% static link %}"/>
                                    {% endwith %}
                                </div>
                                <span class="main-movie-title">{{ i.title }}</span>
                                <span class="main-movie-intro">
                            <button type="button" class="modal-button heart-bnt"><img class="modal-heart"
                                                                                      src="/static/images/heart.png"></button>
                            <button type="button" class="modal-button like-bnt"><img class="modal-like"
                                                                                     src="/static/images/like.png"></button>
                            <button type="button" class="modal-button unlike-bnt"><img class="modal-unlike"
                                                                                       src="/static/images/unlike.png"></button>
                        </span>
                                <div class="modal-movie-intro">
                                    <strong>
                                        {{ i.plot }}
                                    </strong>

                                </div>
                                <div class="modal-movie-cast">
                                    <ul>
                                        <li>
                                            <strong>출연진: {{ i.cast }}</strong>
                                        </li>
                                        <li>
                                            <strong>장르 : {{ i.genre }}</strong>
                                        </li>
                                        <li>
                                            <strong>등급 : {{ i.maturity_rating }}</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="recommend-contents">
                                    <p><strong>비슷한 콘텐츠</strong></p>
                                    <ul>
                                        {% for i in on_release_list %}
                                            <li>
                                                {% with link='images/movies/movie_'|add:i.movie_id|add:'.jpg' %}
                                                    <img class="recommend-img" src="{% static link %}">
                                                {% endwith %}
                                                <strong><p>{{ i.title }}</p></strong>

                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- END OF MAIN CONTAINER -->

                <!-- LINKS -->
                <section class="link">
                    <div class="logos">
                        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
                    </div>
                    <div class="sub-links">
                        <ul>
                            <li><a href="#">Audio and Subtitles</a></li>
                            <li><a href="#">Audio Description</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Media Center</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Legal Notices</a></li>
                            <li><a href="#">Corporate Information</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </section>
                <!-- END OF LINKS -->

                <!-- FOOTER -->
                <footer>
                    <p>감사합니다.</p>

                </footer>
            </section>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'javascript/main_page.js' %}"></script>
{% endblock %}