{% extends "base.html" %}

{% block title %}
로그인
{% endblock %}

{% load static %}

{% block custom-css %}
<style>
    h1 {
        color: #744f06;
        margin-bottom: 3vw;
    }

    body {
        background-color: #F4B436;
    }

    #main {
        width: 100%;
    }

    #header {
        height: 90px;
    }

    #header #logo-wrapper {
        margin: 20px;
    }

    #logo-wrapper > img {
        height: 45px;
        width: 167px;
    }

    #content {
        width: 100%;
    }

    #content #login-box {
        margin: 0 auto;
        padding: 60px 70px;
        width: 500px;
        min-height: 660px;
        background-color: rgba(229, 229, 199, 0.6);

        display: flex;
        flex-direction: column;
    }

    #login-box #login-wrapper #login-info #form-err-msg {
        /* margin-bottom: 40px; */
        height:36px;
    }

    #form-err-msg > b {
        color: red
    }

    #login-box #login-wrapper #login-info .form-check-input:checked {
        background-color: rgb(0, 92, 46);
        border-color: rgb(0, 92, 46);
    }

    .btn {
        width: 100%;
    }

    .btn-login {
        color: #fff;
        background-color: rgb(0, 63, 27);
        border-color: rgb(0, 63, 27);
    }

    .btn-login:hover {
        color: rgb(229, 229, 199);
    }

    .btn-naver {
        color: #fff;
        background-color: rgb(24, 206, 96);
        border-color: rgb(24, 206, 96);
    }

    #notice-signup-wrapper>p>span {
        color: #737373;
    }

    #notice-signup-wrapper>p>a {
        color: #744f06;
        text-decoration: none;
    }

    #notice-signup-wrapper:hover>p>a {
        text-decoration: underline;
    }
</style>

<script>
    // DOM tree가 구성되면
    window.addEventListener('DOMContentLoaded', function(){
        const emailElement = document.querySelector('#email');
        const pwdElement = document.querySelector('#password');
        const loginForm = document.querySelector('#login-info');

        // 이메일을 입력하면 에러 메시지가 사라진다
        emailElement.addEventListener('keyup', (event) => {
            const errMsg = document.querySelector('#form-err-msg b');
            errMsg.textContent = "";
        });
        // 비밀번호을 입력하면 에러 메시지가 사라진다
        pwdElement.addEventListener('keyup', (event) => {
            const errMsg = document.querySelector('#form-err-msg b');
            errMsg.textContent = "";
        });

        // 쿠키에 value(이메일) 정보 저장
        const setCookie = (name, value, expiredays) => {
            const todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires="
                    + todayDate.toGMTString() + ";";
        }

        // 해당 이름의 쿠키 정보를 불러오기
        const getCookie = (name) => {
            const search = name + '='; // 쿠키값에서 검색할 key값 설정
            const docCookie = document.cookie; // 현재 갖고 있는 쿠키값 불러오기

            if (docCookie.length > 0) { // 쿠키값이 있다면
                let offset = docCookie.indexOf(search); // 검색할 key 값에 첫번째 인덱스를 얻는다
                if (offset != -1) { // 그 인덱스가 -1이 아니라면(key값이 검색이 된다면)
                    offset += search.length; // 해당 key의 value값 첫번째 index를 얻는다
                    end = docCookie.indexOf(';', offset); // value값 이후로 ';' 인덱스 얻음(이 index가 value의 마지막 index다)
                    if (end == -1) end = docCookie.length; // ';' 가 없다면 쿠키전체값의 길이를 마지막 인덱스로 넣음
                    return unescape(docCookie.substring(offset, end)); // 얻고자 하는 쿠키 key의 value만 리턴
                }
            }
        }

        // 로그인 버튼을 누르면 ...
        const handleLoginForm = (event) => {
            event.preventDefault(); // form 값 요청 멈춤
            const saveEmailCheckBox = document.querySelector('#remember-my-id');
            
            // 이메일 기억 체크박스 유무 확인 및 처리
            if (saveEmailCheckBox.checked == true) {
                setCookie('myEmail', emailElement.value, 7); // 7일 동안 쿠키 저장
            } else {
                setCookie('myEmail', emailElement.value, 0); // 날짜를 0으로 저장하여 쿠키 삭제
            }

            loginForm.submit(); // form 값 요청
        }

        loginForm.addEventListener('submit', handleLoginForm);

        // 정해진 이름의 쿠키 값이 있다면 ...
        if (getCookie('myEmail')) {
            emailElement.value = getCookie('myEmail');
            document.querySelector('#remember-my-id').checked = true;
        }
    });
</script>
{% endblock %}

{% block content %}
<div id="main">
    <div id="header">
        <div id="logo-wrapper">
            <img src="{% static 'images/logo_horizontal.png' %}" alt="로고">
        </div>
    </div>
    <div id=content>
        <div id="login-box">
            <div id="login-wrapper">
                <h1>로그인</h1>
                <form id="login-info" action="/login/" method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" autocomplete='current-email' placeholder="이메일">
                        <label for="email">이메일</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" autocomplete='current-password' placeholder="비밀번호">
                        <label for="password">비밀번호</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="remember-my-id">
                        <label class="form-check-label" for="remember-my-id">
                            내 이메일 기억하기
                        </label>
                    </div>
                    <div id="form-err-msg"><b>{{ error }}</b></div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-login">로그인</button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-naver">네이버로 로그인</button>
                    </div>
                    <div id="notice-signup-wrapper">
                        <p><span>오늘 처음이신가요? </span><a href="#">지금 회원가입 '딸깍'</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}