{% extends 'base.html' %}
{% load static %}

{% block title %}
    회원가입
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign_up.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <div class="form-container">
        <div>
            <img src="{% static 'images/searologo.png' %}" alt="LOGO" style="width: 40%; height: auto; margin-left: 30%">
        </div>

        <form class="form-area" method="post" onsubmit="return rebye();" action="/sign-up/">
            {% csrf_token %}
            <div class="form-grp">
                <input type="email" name="email" placeholder="user@email.com" id="email">
                <i class="fa fa-times e_times"></i>
                <i class="fa fa-check e_check"></i>
                <small id="e_error">Error Message</small>
            </div>
            <div class="form-grp">
                <input type="password" name="password" placeholder="Password" id="password">
                <i class="fa fa-times p_times"></i>
                <i class="fa fa-check p_check"></i>
                <small id="pwd_error">Error Message</small>
            </div>
            <div class="form-grp">
                <input type="text" name="profile-name" placeholder="Profile-name" id="profile-name">
                <i class="fa fa-times name_times"></i>
                <i class="fa fa-check name_check"></i>
                <small id="name_error">Error Message</small>
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <div class="b_button">
                <div class="back">

                </div>
                <div class="back">
                    <button type="submit" class="button_base b08_3d_pushback">
                        <div>확인</div>
                        <div>하시겠어요?</div>
                    </button>
                                        <div class="button_base b08_3d_pushback">
                        <div>취소</div>
                        <div>하시겠어요?</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}